<div class="container">
  <h1>Welcome to Bytely</h1>
  <p>If it's bigger than 8 bits, we'll take a byte out!</p>

  <table>
    <form name = "bytelymagic" action = "/urls" method="post">
      <tr>
      <td>Enter the bytely world: http://</td>
      <td><input type = "text" name = "url"></td> 
      </tr>
      <tr><td><input type = "submit" name = "reducto"></td>
      </tr>
    </form>  
  </table>
</div>
